.Button {
    background-color : red;
    box-shadow: 0em 0em 0.1em  black;   
    opacity: 0.8;
    border : none ;
    color : white;
    margin-top : 1em;
    margin-bottom : 1em;
    font-family : 'Fredoka One';
    border-radius: 1em;
    height : 3em;
    width : 10em; 
    outline: hidden;
}

.Button:hover { 
    background-color :red;
    transition: all 0.1 s ease;
    box-shadow: 0em 0em 0.3em  black;   
    opacity: 1;
    border : none ;
    color : white;
    margin-top : 1em;
    margin-bottom : 1em;
    font-family : 'Fredoka One';
    border-radius: 1em;
    height : 3em;
    width : 10em; 
}

.Button:focus { 
    background-color : red;
    transition: all 0.1 s ease;
    box-shadow: 0em 0em 0.3em  black;   
    outline: none;
    opacity: 1;
    border : none ;
    color : white;
    margin-top : 1em;
    margin-bottom : 1em;
    font-family : 'Fredoka One';
    border-radius: 1em;
    height : 3em;
    width : 10em; 
}

.Button:active { 
    background-color : red;
    transition: all 0.1 s ease;
    opacity: 1;
    border : none ;
    color : white;
    margin-top : 1em;
    margin-bottom : 1.1em;
    font-family : 'Fredoka One';
    border-radius: 1em;
    height : 2.9em;
    width : 9.8em; 
}