.Text {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 20em;
  height: 2.5em;
  border: none;
  background-color: black;
  color: whitesmoke;
  padding-left: 1em;
  border-radius: 1em;
  font-size: 1em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input::placeholder {
  color: grey;
  font-size: 1em;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeInAnimation {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
