body {
  background-color: #616161;
  display: flex;
  margin: 0;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.SignUpContents {
  background-color: #2f2f2f;
  min-width: 16%;
  padding: 3em;
  padding-bottom:4em;
  justify-self: center;
  border-radius: 1em;
  height: auto;
  display : flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 3em;
}

.head {
  align-self: flex-end;
  margin-left: auto;
  padding: 1em;
}

.SignUpText {
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    font-size: 2em;
    flex-direction: column;
    align-self: center;
    color: white;
}

.netHash {
  padding-left: 3em;
  display : flex;
  flex-direction: column;
  align-self: start;
}

.LoginTextNav {
  color: grey;
}

.LoginTextNav:hover { 
  color : whitesmoke;
}
